
.fila-juego {
    height: 25vh;
}
.col-juego {
    background-color: ;
    border: 2px solid black;
}
.col-juego:hover {
    
}
.sin-abrir {
    background-color: aliceblue;
    transition: opacity ease 0.2s;
    cursor: pointer;
}
#fin-juego {
    display: none;
}
.rojo {
    background-color: red;
}
.amarillo {
    background-color: yellow;
}
.azul {
    background-color: blue;
}
.negrp {
    background-color: black;
}
.verde {
    background-color: green;
}