
.fila-juego {
    height: 25vh;
}
.col-juego {
    border: 1px solid black;

}
.cuadro {
    height: 100%;
    opacity: 0;
    cursor: pointer;
    border: 1px solid grey;
    cursor: pointer;
    transition: opacity ease 0.2s;
}

.completo {
    background-color: grey;
}
#fin-juego {
    display: none;
}
.rojo {
    background-color: red;
}
.amarillo {
    background-color: yellow;
}
.azul {
    background-color: blue;
}
.negro {
    background-color: black;
}
.verde {
    background-color: green;
}
.marron {
    background-color: rgb(104, 53, 24);
}